{
    "presets": [
        [
            "@babel/preset-env",
            {
              "targets": {
                "node": true
              }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}