//Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem; 
$login-form-size: 20rem;
$desktop-breakpoint: 45rem;

$max-size: 100%;
$half-size: 50%;
$login-width: 30%;
$middle-size: 15%;
$small-size: 5%;
$min-size: 2%;

//color
$off-white: aliceblue;
$light-gray: #dfdfdf;
$dark-gray: #4c4c4c;
