h1 {
    margin: 0;
}

.header{
    background-color: purple;
    color: black;
}

.header__title {
    color: $off-white;
    font-size: $l-size;
    padding-top: $l-size;
}

.header__link__list {
    color: $off-white;
    padding: $l-size 0;
}

.header__link {
    color: $off-white;
    padding-left: $l-size;
    text-decoration: none;
}